@model EntityLayerr.Concerete.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/BurgerWriter_Loyout.cshtml";
}
<h2>Kategori Ekleme Sayfası</h2>
@using (Html.BeginForm("CategoryAdd", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        @Html.Label("Kategori Açıklaması")
        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
    </div>


    <button class="btn btn-outline-primary">Kaydet</button>
}